/* 
 * this fixes an issue with the textareas with absolute positioning
 * getting moved to the side when using bootstrap
 */
.nopad {
  padding: 0
}

.user-study-textarea {
  overflow: hidden;
  resize: none;
}

.expected.user-study-textarea,
.expected.user-study-textarea:focus,
.expected.user-study-textarea:disabled {
  background: none;
}

/* TODO: there needs to be more visual indication of status.
         i'm thinking... highlights *around* the fields with the color?
         this is kinda necessary for the button case anyway
*/

.input.user-study-textarea[data-input-state=future],
.input.user-study-textarea:focus[data-input-state=future],
.input.user-study-textarea:disabled[data-input-state=future] {
  color: black;
}

.input.user-study-textarea[data-input-state=progress],
.input.user-study-textarea:focus[data-input-state=progress],
.input.user-study-textarea:disabled[data-input-state=progress] {
  color: black;
  background: none;
}

.input.user-study-textarea[data-input-state=completed],
.input.user-study-textarea:focus[data-input-state=completed],
.input.user-study-textarea:disabled[data-input-state=completed] {
  color: green;
}

.input.user-study-textarea[data-input-state=error],
.input.user-study-textarea:focus[data-input-state=error],
.input.user-study-textarea:disabled[data-input-state=error] {
  color: red;
  /* background: none; */
}

.input {
  z-index: 10;
  position: absolute;
}